#app {
    height: 100%;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.slide {
    display: flex;
    width: 100%;
    height: 700px;

    display: flex;
    align-items: center;
}

.slide-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 60%;
    text-align: left;
    margin-left: 150px;
}

.slide1 {
    background: linear-gradient(#00000050, #00000050), url('../../assets/slider/1.png');
    background-size: cover;
    background-position: center;
}

.slide2 {
    background: linear-gradient(#00000050, #00000050), url('../../assets/slider/2.png');
    background-size: cover;
    background-position: center;
}

.slide3 {
    background: linear-gradient(#00000050, #00000050), url('../../assets/slider/3.png');
    background-size: cover;
    background-position: center;
}

.swiper-initialized {
    width: 95%;
    margin: 0 auto;
    border-radius: 15px;
}

:root {
    --swiper-navigation-size: 30px;
    --swiper-theme-color: #fff;

}